NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAlXTAPX4z-uPQRWopAMyUx7RQRZ61Mq1U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=endless-memento-495505-f2.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=endless-memento-495505-f2
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=endless-memento-495505-f2.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=984206299819
NEXT_PUBLIC_FIREBASE_APP_ID=1:984206299819:web:e5fb4aa4c0023dc4399dee
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dufucwg0a
CLOUDINARY_API_KEY=637476288315551
CLOUDINARY_API_SECRET=mEeluS8qqPsDuXEzU4A3AMwBRJU